html
  head
    title='Devops is hard'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Dev branch About Time!!!!!
        p it works!...
        img.className#IdName(src="https://media.giphy.com/media/qOEkosQIS81P2/giphy.gif" alt="Image Title")